<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Create customer</h1>
        <p>
            <a href="/customers">Customer list</a>
        </p>
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <form th:action="@{/create-customer}" th:object="${customerDTO}" method="post">
            <table>
                <tr>
                    <td>Full name:</td>
                    <td><input type="text" class="form-control" th:field="*{fullName}"/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" class="form-control" th:field="*{email}"/></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" class="form-control" th:field="*{phone}"/></td>
                </tr>
                <tr>
                    <td>Province:</td>
                    <td>
                        <select name="provinceId" id="province">
                            <th:block th:each="item : ${provinces}">
                                <option th:value="${item.id}" th:text="${item.name}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-outline-primary" value="Create customer"></td>
                </tr>
            </table>
        </form>
    </div>


    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>